*.7z
*.bz2
*.elf
*.gz
*.lock
*.log
*.o
*.out
*.pid
*.so
*.swp
*.tar
*~
.babelrc
.completer.hist
.editorconfig
.eslintrc
.gitattributes
.gitignore
doc
ed.js
node_modules
src
webpack.config.js
webpack.config.prod.js
