body {
  background-color: rgb(166, 166, 166);
  font-family: "Hack", monospace;
  margin: 0px;
}

:global(.firepad) {
  border: none;
  height: 91.4%;
  margin-right: 0;
  min-height: 350px;
  padding-right: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}
